# Terraform files
*.tfstate
*.tfstate.*
*.tfvars
.terraform/
.terraform.lock.hcl

# SSH Keys
*.pem
*.key
id_rsa*
id_ed25519*

# Local .terraform directories
**/.terraform/*

# Crash log files
crash.log
crash.*.log

# Ansible
*.retry

# OS specific files
.DS_Store
Thumbs.db

# Environment variables
.env
*.env

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# Python virtual environments
venv/
.venv/
*.pyc
__pycache__/